<div class="card card-trip" style="width: 22.4rem; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
  <% if jewelry.photo.attached? %>
    <%= cl_image_tag(jewelry.photo.key) %>
  <% else %>
    <%= image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to jewelry.name, jewelry_path(jewelry), class: 'text-black text-decoration-none'%></h2>
      <p><%= jewelry.detail %></p>
    </div>
    <h2 class="card-trip-pricing">¥<%= jewelry.price %>/day</h2>
  </div>
</div>
