<div class="container">
  <div class="row my-3">
    <!-- Gallery -->
    <div class="col col-md-6">
      <div id="carouselExampleIndicators" class="carousel slide h-100">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner w-100 h-100">
          <div class="carousel-item active h-100">
            <% if @jewelry.photos.attached? %>
              <%= cl_image_tag(@jewelry.photos.first.key, class: "carousel-img h-100") %>
            <% else %>
              <%= image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU', class: "carousel-img") %>
            <% end %>
          </div>
          <div class="carousel-item h-100">
            <% if @jewelry.photos.attached? %>
              <%= cl_image_tag(@jewelry.photos.second.key, class: "carousel-img h-100") %>
            <% else %>
              <%= image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' , class: "carousel-img") %>
            <% end %>
          </div>
          <div class="carousel-item h-100">
            <% if @jewelry.photos.attached? %>
              <%= cl_image_tag(@jewelry.photos.third.key, class: "carousel-img h-100") %>
            <% else %>
              <%= image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' , class: "carousel-img") %>
            <% end %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card-body h-100">
        <strong>
          <h1 class="card-title">
            <%= @jewelry.name %>
          </h1>
        </strong>
        <p class="card-text"><%= @jewelry.detail %></p>
        <p class="card-price"><%= number_to_currency(@jewelry.price, {unit: '¥', precision: 0})  %></p>
        <%= simple_form_for [@jewelry, @rental] do |f| %>
          <%= f.input :start_date, html5: true %>
          <%= f.input :end_date, html5: true %>
          <%= f.submit 'Rent', class: "btn btn-light fw-bold mt-4"%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div data-controller="insert-in-list">
    <div>
      <h3>Add a Review</h3>
      <%= render 'reviews/new', jewelry: @jewelry, review: Review.new %>
    </div>
    <div data-insert-in-list-target="list">
      <% if @jewelry.reviews.any? %>
        <%= render @jewelry.reviews.order(created_at: :desc) %>
      <% else %>
        <br>
        <p>No reviews yet.</p>
      <% end %>
    </div>
  </div>
</div>
<h4><% pluralize @jewelry.reviews.size, "review" %></h4><br>
