<div class="container center-container" id="jewelries">

    <!-- Gallery -->
  <div class="card img-gallery-one" style="width: 18rem;">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://source.unsplash.com/featured?wristwatch&<%= rand(100) %>" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/featured?wristwatch&<%= rand(100) %>" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://source.unsplash.com/featured?wristwatch&<%= rand(100) %>" alt="...">
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="container card-body border border-white">
  <strong><h2 class="card-title"><%= @jewelry.name %></h2></strong>
    <p class="card-text"><%= @jewelry.detail %></p>
    <p class="card-price"><%= number_to_currency(@jewelry.price, {unit: '¥', precision: 0})  %></p>
    <%= simple_form_for [@jewelry, @rental] do |f| %>
      <%= f.input :start_date, html5: true %>
      <%= f.input :end_date, html5: true %>
      <%= f.submit 'Rent', class: "btn btn-light"%>
    <% end %>
</div>
<br><br>

<div class="container">
  <div data-controller="insert-in-list">
    <div>
      <h3>Add a Review</h3>
      <%= render 'reviews/new', jewelry: @jewelry, review: Review.new %>
    </div>
    <div data-insert-in-list-target="list">
      <% if @jewelry.reviews.any? %>
        <%= render @jewelry.reviews.order(created_at: :desc) %>
      <% else %>
        <br>
        <p>No reviews yet.</p>
      <% end %>
    </div>
  </div>
</div>
<h4><% pluralize @jewelry.reviews.size, "review" %></h4><br>
