<div class="col-6 mt-3">
  <div class="card-product">
    <% if rental.jewelry.photo.attached? %>
      <%= cl_image_tag(rental.jewelry.photo.key) %>
    <% else %>
      <%= image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= rental.jewelry.name %></h2>
      <p>STATUS: <%= rental.status%></p>
      <p><em>OWNER: <%= rental.jewelry.user.name %></em></p>
      <p><strong>Rented on: </strong><%= rental.start_date %></p>
      <p><strong>Return on: </strong><%= rental.end_date %></p>
    </div>
  </div>
</div>
