<h3> Add a Review </h3>
  <%= simple_form_for [@jewelry, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, collection: Review::NUMBER.sort, include_blank: false %>
    <%= f.submit 'Submit', class: 'btn btn-primary mt-2' %>
  <% end %>

<h4><% pluralize @jewelry.reviews.size, "review" %></h4><br>
<%= link_to "Back to all Jewelries", jewelries_path %>
